* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}
  

nav{

	display: flex;
	
	background-color: #08085a;
	height: 50px;
	align-items: center;
	flex-direction: row;
	justify-content: space-between;
	text-decoration: none;

}

nav ul{
	display: flex;
	flex: 2;
	justify-content: space-around;
	text-decoration: none;
	align-items: center;

	
}
nav ul li{
	display: flex;
	
	text-decoration: none;
	justify-content: space-between;
	align-items: center;

	
}

nav ul li a{
	display: flex;
	color: white;
	align-items: center;
	justify-content: space-between;
	text-decoration: none;
	align-items: center;

}

nav ul li a:hover{
	
	color: black;
	background-color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	border-radius: 20px;

}


/**************************************************/


.presentation {
	display: flex;
	width: 100%;
	margin: auto;
	min-height: 80vh;
	align-items: center;
}
.introduction {
	flex: 1;
	padding-bottom: 10px;
}
.intro-text h1 {
	margin-left: 50px;
	font-size: 44px;
	font-weight: 500;
	background: linear-gradient(to right, #494964, #6f6f89);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.intro-text p {
	margin-left: 50px;
	margin-top: 5px;
	font-size: 22px;
	color: #585772;
	padding-bottom: 50px;
}
form{
	margin-left: 50px;
	display: flex;
  	align-items: center;
  	justify-content: space-between;
  	flex-direction: column;
  	
  	
  	
}

/*transform: scale(1.5);*/
.bu a{
	width: 150px;
  	background-color: #5995fd;
  	padding-left: 50px; 
  	padding-right: 50px; 
  	padding-top: 15px;
  	padding-bottom: 15px;
  	text-decoration: none;
  	height: 49px;
  	border-radius: 49px;
  	color: #fff;
  	font-weight: 600;
  	margin: 10px 0;
  	cursor: pointer;
  	transition: 0.5s;
}



.field_error p{
	color: red;
}




.input-field {
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 55px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center;
  line-height: 55px;
  color: #acacac;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 500;
}


.btn {
  width: 150px;
  background-color: #5995fd;
  border: none;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  background-color: #4d84e2;
}






.cta {
	padding: 50px 0px 0px 0px;
}
.cta-select {
	border: 2px solid #c36cbb;
	background: transparent;
	color: #c36cbb;
	width: 180px;
	height: 50px;
	cursor: pointer;
	font-size: 16px;
}
.cta-add {
	background: #c36cbb;
	width: 180px;
	height: 50px;
	cursor: pointer;
	font-size: 16px;
	border: none;
	color: white;
	margin: 30px 0px 0px 30px;
}

.cover {
	flex: 1;
	display: flex;
	justify-content: center;
	height: 55vh;
}
.cover img {
	height: 100%;
	filter: drop-shadow(0px 5px 3px black);
	animation: drop 1.5s ease;
}


.laptop-select {
	width: 15%;
	display: flex;
	justify-content: space-around;
	position: absolute;
	right: 20%;
}

@keyframes drop {
	0% {
		opacity: 0;
		transform: translateY(-80px);
	}
	100% {
		opacity: 1;
		transform: translateY(0px);
	}
}

@media screen and (max-width: 1024px) {
	.presentation {
		display: flex;
		flex-direction: column;
	}
	.introduction {
		margin-top: 5vh;
		text-align: center;
	}
	.intro-text h1 {
		font-size: 30px;
		margin-left: 0px;
	}
	.intro-text p {
		font-size: 18px;
		margin-left: 0px;

	}
	.cta {

		padding: 10px 10px 10px 10px;
	}
	
	.cover{
		display: none;
	}
	form{
		margin-left: 0px;
		
	}
}

@media screen and (max-width: 398px){
	.presentation {
		display: block;
		flex-direction: column;
	}
	.introduction {
		margin-top: 5vh;
		text-align: center;
	}
	.intro-text h1 {
		font-size: 30px;
		margin-left: 0px;
	}
	.intro-text p {
		font-size: 18px;
		margin-left: 0px;
	}
	.cover{
		height: 0px;
	}

	form{
		margin-left: 0px;
	}
}







/*//////////////////////////////////////////////*/
footer{
color: white;
background-color: black;
align-items: center;
height: 300px;
}

.fot h1{
color: white;
background-color: black;
}

.fot img{
width: 90px;
height: 100%;
filter: drop-shadow(3px 8px 5px black);
animation: drop 2.5s ease;
padding-bottom: 10px;
}



#bo{
height: 70px;

}

#bo a{
padding-left:10px;
padding-right:10px;
padding-top: 30px;

}

#bo a img{
    
width:30px;
height:30px;
}

#bo a img:hover{
width:40px;
height:40px;   
}

#box{
display:inline-flex;

}

#b1{
text-align: left;
padding:10px;
}

#b2{
text-align: right;
padding:10px;
}